# Análisis Exploratorio de Datos (EDA) - Accidentalidad en el Municipio de Envigado

# Importamos las librerías

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

# Configuración para visualización

In [ ]:
%matplotlib inline
plt.style.use('ggplot')
sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 12

# Carga y exploración inicial de datos

In [9]:
df = pd.read_csv("Datasets/Accidentalidad_Municipio_de__Envigado_20250606.csv")

C:\Users\Diego\AppData\Local\Temp\ipykernel_19064\79020895.py:1: DtypeWarning: Columns (4,5,6,7,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Datasets/Accidentalidad_Municipio_de__Envigado_20250606.csv")

In [10]:
df.head()

,RADICADO,FECHA,HORA,DÍA DE LA SEMANA,CLASE DE VEHICULO,TIPO DE SERVICIO,TIPO DE VICTIMA,SEXO,ESTADO DE BEODEZ,RESULTADO DE BEODEZ,GRAVEDAD,CLASE DE ACCIDENTE,CAUSA,DIRECCIÓN,BARRIO,AREA,Coordenadas
0,2134024,1/01/2014,10:30:00 p. m.,Miércoles,NaN,NaN,NaN,NaN,0,0,SOLO DAÑOS,CHOQUE,Otra-Conductor,NaN,LAS FLORES,URBANA,POINT (-75.57921612 6.172014741)
1,2134024,1/01/2014,10:30:00 p. m.,Miércoles,NaN,NaN,NaN,NaN,0,0,HERIDOS,CHOQUE,Otra-Conductor,NaN,LAS FLORES,URBANA,POINT (-75.57921612 6.172014741)
2,2134026,1/01/2014,11:30:00 p. m.,Miércoles,NaN,NaN,NaN,NaN,0,0,HERIDOS,CHOQUE,Desobedecer señales,NaN,LAS VEGAS,URBANA,POINT (-75.60353748 6.162050378)
3,2134026,1/01/2014,11:30:00 p. m.,Miércoles,NaN,NaN,NaN,NaN,0,0,HERIDOS,CHOQUE,Desobedecer señales,NaN,LAS VEGAS,URBANA,POINT (-75.60353748 6.162050378)
4,2134026,1/01/2014,11:30:00 p. m.,Miércoles,NaN,NaN,NaN,NaN,0,0,SOLO DAÑOS,CHOQUE,Desobedecer señales,NaN,LAS VEGAS,URBANA,POINT (-75.60353748 6.162050378)

# Información general del dataset

In [12]:
print(df.info())
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89826 entries, 0 to 89825
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RADICADO             89826 non-null  int64
 1   FECHA                89826 non-null  object
 2   HORA                 89826 non-null  object
 3   DÍA DE LA SEMANA     89826 non-null  object
 4   CLASE DE VEHICULO    390 non-null    object
 5   TIPO DE SERVICIO     390 non-null    object
 6   TIPO DE VICTIMA      81 non-null     object
 7   SEXO                 81 non-null     object
 8   ESTADO DE BEODEZ     89826 non-null  int64
 9   RESULTADO DE BEODEZ  89826 non-null  int64
 10  GRAVEDAD             89826 non-null  object
 11  CLASE DE ACCIDENTE   89826 non-null  object
 12  CAUSA                89826 non-null  object
 13  DIRECCIÓN            1459 non-null   object
 14  BARRIO               89826 non-null  object
 15  AREA                 89826 non-null  object
 16  Coordenadas          22460 non-null  object
dtypes: int64(3), object(14)
memory usage: 11.7+ MB
None
            RADICADO                    FECHA                     HORA  \
count   8.982600e+04                    89826                    89826
unique           NaN                     5518                     1306
top              NaN  2020-02-01T00:00:00.000  1899-12-31T15:00:00.000
freq             NaN                       71                     1146
mean    2.157942e+06                      NaN                      NaN
std     7.477047e+04                      NaN                      NaN
min     2.100001e+06                      NaN                      NaN
25%     2.130164e+06                      NaN                      NaN
50%     2.160147e+06                      NaN                      NaN
75%     2.190225e+06                      NaN                      NaN
max     2.199344e+07                      NaN                      NaN

       DÍA DE LA SEMANA CLASE DE VEHICULO TIPO DE SERVICIO TIPO DE VICTIMA  \
count             89826               390              390              81
unique                7                10                3               5
top             Viernes         AUTOMOVIL       PARTICULAR    Motociclista
freq              14462               192              288              40
mean                NaN               NaN              NaN             NaN
std                 NaN               NaN              NaN             NaN
min                 NaN               NaN              NaN             NaN
25%                 NaN               NaN              NaN             NaN
50%                 NaN               NaN              NaN             NaN
75%                 NaN               NaN              NaN             NaN
max                 NaN               NaN              NaN             NaN

             SEXO  ESTADO DE BEODEZ  RESULTADO DE BEODEZ    GRAVEDAD  \
count          81      89826.000000         89826.000000       89826
unique          2               NaN                  NaN           3
top     MASCULINO               NaN                  NaN  SOLO DAÑOS
freq           57               NaN                  NaN       73295
mean          NaN          0.003440             0.006635         NaN
std           NaN          0.058551             0.124756         NaN
min           NaN          0.000000             0.000000         NaN
25%           NaN          0.000000             0.000000         NaN
50%           NaN          0.000000             0.000000         NaN
75%           NaN          0.000000             0.000000         NaN
max           NaN          1.000000             3.000000         NaN

       CLASE DE ACCIDENTE           CAUSA        DIRECCIÓN     BARRIO    AREA  \
count               89826           89826             1459      89826   89826
unique                  7             408              637         49       3
top                CHOQUE  Otra-Conductor  CR 50 CL 37 SUR  LAS VEGAS  URBANA
freq                83701           21217               17      25993   81782
mean                  NaN             NaN              NaN        NaN     NaN
std                   NaN             NaN              NaN        NaN     NaN
min                   NaN             NaN              NaN        NaN     NaN
25%                   NaN             NaN              NaN        NaN     NaN
50%                   NaN             NaN              NaN        NaN     NaN
75%                   NaN             NaN              NaN        NaN     NaN
max                   NaN             NaN              NaN        NaN     NaN

                           Coordenadas
count                            22460
unique                            1427
top     POINT (-75.58429621 6.1871109)
freq                              1806
mean                               NaN
std                                NaN
min                                NaN
25%                                NaN
50%                                NaN
75%                                NaN
max                                NaN

# Verificamos la cantidad de valores únicos por columna

In [13]:
for col in df.columns:
    unique_values = df[col].nunique()
    print(f"Columna '{col}' tiene {unique_values} valores unicos.")

Columna 'RADICADO' tiene 43759 valores unicos.
Columna 'FECHA' tiene 5518 valores unicos.
Columna 'HORA' tiene 1306 valores unicos.
Columna 'DÍA DE LA SEMANA' tiene 7 valores unicos.
Columna 'CLASE DE VEHICULO' tiene 10 valores unicos.
Columna 'TIPO DE SERVICIO' tiene 3 valores unicos.
Columna 'TIPO DE VICTIMA' tiene 5 valores unicos.
Columna 'SEXO' tiene 2 valores unicos.
Columna 'ESTADO DE BEODEZ' tiene 2 valores unicos.
Columna 'RESULTADO DE BEODEZ' tiene 4 valores unicos.
Columna 'GRAVEDAD' tiene 3 valores unicos.
Columna 'CLASE DE ACCIDENTE' tiene 7 valores unicos.
Columna 'CAUSA' tiene 408 valores unicos.
Columna 'DIRECCIÓN' tiene 637 valores unicos.
Columna 'BARRIO' tiene 49 valores unicos.
Columna 'AREA' tiene 3 valores unicos.
Columna 'Coordenadas' tiene 1427 valores unicos.

# Verificamos la presencia de valores nulos

In [14]:
valores_nulos = df.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos[valores_nulos > 0])

Valores nulos por columna:
CLASE DE VEHICULO    89436
TIPO DE SERVICIO     89436
TIPO DE VICTIMA      89745
SEXO                 89745
DIRECCIÓN            88367
Coordenadas          67366
dtype: int64

# Verificamos duplicados

In [15]:
duplicados = df.duplicated().sum()
print(f"El dataset contiene {duplicados} filas duplicadas.")

El dataset contiene 38022 filas duplicadas.

# Convertimos la columna de fecha a formato datetime

In [17]:
df['FECHA'] = pd.to_datetime(df['FECHA'], format='mixed')

# Extraemos componentes adicionales de la fecha

In [18]:
df['MES'] = df['FECHA'].dt.month
df['AÑO'] = df['FECHA'].dt.year
df['DIA_MES'] = df['FECHA'].dt.day